{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'un livre
{% endblock %}

{% block body %}
    <section class="container mt-4">
        <h1 class="text-center text-muted">Nouveau livre</h1>
        <div class="row">
            <div class="col-md-5 mx-auto">

                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{ label }}">
                        {{ messages[0] }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                    {# ... #}
                    {{ form_widget(form.brochure) }}
                    {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
